<div class="profile text-center">
  <div class="main">
    <div class="main-content">
      <%= image_tag 'donation.svg', height: 80, width: 80, crop: :fill %>
      <h2>Côme de Larauze</h2>
      <p> Learning coder</p>
      <a href="#" class="btn btn-primary btn-lg">Get in touch</a>
    </div>
  </div>
  <div class="stat">
    <div class="stat-content">
      <h3>3,536</h3>
      <p>contributions</p>
    </div>
  </div>
  <div class="stat">
    <div class="stat-content">
      <h3>758</h3>
      <p>followers</p>
    </div>
    </div>
  <div class="stat">
    <div class="stat-content">
      <h3>119</h3>
      <p>repositories</p>
    </div>
    </div>
  <div class="description">
    <div class="description-content">
      <h3>More about Côme</h3>
      <p class="text-justify">
        I am a full-stack developer with 10 years of experience working in startups. Scratching your own itch? Working on a startup project? Lots of ideas but frustrated that you can't code them?
      </p>
    </div>
  </div>
</div>
